* {
	-webkit-user-select: none;
	box-sizing: border-box;
}

html, body {
	width: 100%; height: 100%;
	overflow: hidden;
}

body {
	font-size: 300%;
	font-family: sans-serif;
	color: black;
	text-align: center;
	cursor: default;
}

button {
	font-size: inherit;
	margin: 2px auto;
	cursor: pointer;
}

/*
div.content {
	position: absolute;
	top: 5px; right: 5px; bottom: 5px; left: 5px;
	background: linear-gradient(135deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	border-radius: 16px;
	box-shadow: white 0 0 10px;
}

div.consoleHTML {
	overflow: auto;
	text-align: left;
	font-size: 12px;
}

code {
	font-family: fixed;
	white-space: pre-wrap;
}
*/

/***********************************************************************/
/* HUD */
/***********************************************************************/

/* Messages */
.inventory, #messages {
	position: absolute;
	bottom: 0; right: 0;
	font-family: sans-serif;
	-webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .8));
}

#messages {
	left: 0;
	text-align: left;
	font-size: 70%;
	color: white;
}
#messages .message {
	margin: 5px;
	max-height: 500px;
	margin-right: 70px;
	transition-property: max-height;
	transition-duration: 1s;
}
#messages .message.entering {
	max-height: 0;
}
#messages .message.fading {
	animation: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#coins {
	color: black;
	-webkit-text-stroke: .5px white;
}
#coins img {
	height: 38px;
	margin: 0 5px 0 -7px;
}
.collectCoin {
	animation: flash;
	animation-duration: 1s;
}

@keyframes flash {
	0% {
		color: white;
	}

	100% {
		color: black;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}



/* Pause menu */

#pauseMenu {
	display: none;
	position: absolute;
	z-index: 100;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(0, 0, 0, .4);
	font-size: 50%;
}
#pauseMenu .panel {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	background: linear-gradient(135deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
	border-radius: 16px;
	box-shadow: white 0 0 10px;
	padding: 8px;
}
#pauseMenu h1 {
	font-size: 50px;
	padding: 0;
	margin: 6px 20px;
}
#pauseMenu .aside {}
#pauseMenu button {
	width: 140px;
}

/***********************************************************************/
/* Doors */
/***********************************************************************/

.doorFace {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	cursor: pointer;

	font-size: 100px;
	-webkit-filter: drop-shadow(2px 2px 5px rgba(0,0,0,.8));
}
body.locked .doorFace {
	cursor: not-allowed;
}
.doorFace > .label {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.doorFace img {
	height: 100px;
	vertical-align: text-top;
}
